.body-header {
	background-color: #fff;
	padding: 0;
}
.body-content {
	margin: 24px 16px 0;
}
.body-content-div {
	padding: 24;
	background-color: #fff;
	min-height: 360px;
}
.body-footer {
	text-align: center;
}

.alogo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}