.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.body-header {
	background-color: #fff;
	padding: 0;
}
.body-content {
	margin: 70px 16px 0;
}
.body-footer {
	text-align: center;
}
.d-inline {
	display: inline;
}