.body-content-div {
	min-height: 360px;
	text-align: center;
}
.friendCards {
	text-align: left;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}
.friendAvatar {
	min-height: 297px;
}